<html>
  <head>
    <meta charset="utf-8">
    <title>评论系统-首页</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <header>
      <span><a href="/">欢迎来到评论系统，</a>
        <a href="/login"><%if(!data.name) {%>
          [未登录]
          <%} else {%>
            <%=data.name%>
          <%}%></a>
      </span>
      <nav>
        <span class="send"><a href="/send">发布评论 <i class="fa fa-edit"></i></a></span>
      </nav>
    </header>
    <div class="container">
      <h1>用户评论(<%=data.arr.length%>)</h1>
      <ul>
        <%for(var i in data.arr) {%>
          <li>
            <div><%=data.arr[i].username%></div>：
            <div><%=data.arr[i].content%></div>
          </li>
        <%}%>
      </ul>
    </div> 
  </body>
</html>