<html>
    <head>
        <meta charset="utf-8">
        <title>评论系统-登录</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <header>
            <span><a href="/">欢迎来到评论系统</a></span>
            <span>登  录</span>
            <nav>
                <span class="content"><a href="/register">注  册</a></span>
            </nav>
        </header>
        <div class="container">
            <div class="form">
                <label>
                    <!-- 用户名： -->
                    <input type="text" id="username" autocomplete="false" placeholder="请输入用户名...">
                </label>
                <label>
                    <!-- 密  码： -->
                    <input type="password" id="psw" autocomplete="false" placeholder="请输入密码...">
                </label>
                <button class="btn login">登  录</button>
            </div>
        </div>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/login_register.js"></script>
    </body>
</html>