@import url('./font-awesome-4.7.0/css/font-awesome.min.css');

html, body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: '微软雅黑';
}
body {
    background-color: #eee;
}
a {
    text-decoration: none;
}
header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 12vh;
    position: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
header span a {
    color: #fff;
}
nav span {
    display: inline-block;
    margin-right: 23px;
} 
.container {
    width: 68%;
    height: 88vh;
    margin: 0 auto;
    background-color: #fafafa;
    margin-top: 12vh;
    overflow-y: auto;
}
 /*滚动条样式*/
 .container::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.container::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.container::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.container h1 {
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    border-bottom: 1px dashed #ccc;
}
.container li {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    height: auto;
    padding: 20px;
    display: flex;
}
.container li div {
    box-sizing: border-box;
    height: auto;
}
.container li div:nth-child(1) {
    font-weight: 600;
}